@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body {
	margin: 0;
  background: #ecf0f1;
}

.sidebar {
  height: 100vh;
  width: 15vw;
  font-family: raleway;
  background: #34495e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  color: white;
  font-size: 20px;
  margin: 20px 20px 20px 25px;

}
